# GFX setup to make pretty menu
set theme=Vimix/theme.txt   #Author of Vimix: https://www.gnome-look.org/p/1009236/ https://github.com/vinceliuice/grub2-themes
set gfxmode=640x480
set timeout 30
insmod vbe
insmod png
insmod jpeg
insmod gfxterm
insmod gfxmenu
# loading unicode and fancy graphic module
if loadfont unicode ; then
    insmod gfxterm
    terminal_output gfxterm
fi
# loading background
insmod jpeg
#insmod png
background_image cutecat.jpg
# setting up colors
set menu_color_normal=white/black
set menu_color_highlight=white/black
insmod gfxmenu

# ===================================================
#                   E N T R Y
# ===================================================

menuentry "PartedMagic 2013 [300MB]" --class recovery {
    vga=791
    insmod pxe
    insmod tftp
    echo 'Ładowanie Parted Magic 2013 [300MB]'
    linux16 img/memdisk iso raw a20 int nopae
    initrd16 img/PartedMagic2013_06_14i586.iso
}

menuentry "Clonezilla 2.6 i686 [260MB]" --class recovery {
    vga=791
    insmod pxe
    insmod tftp
    echo 'Ładowanie CloneZilla 2.6 i686 PAE [300MB]'
    linux16 img/memdisk iso raw a20 int nopae
    initrd16 img/clonezilla-2.6-i686-pae.iso
}

menuentry "FreeDOS Lite [32MB]" --class windows {
    vga=751
    insmod pxe
    insmod tftp
    echo 'Ładowanie FreeDOS Lite 32MB w RAM'
    linux16 img/memdisk raw a20
    initrd16 img/freedos.img
}

menuentry "FreeDOS Full [512MB]" --class windows {
    vga=751
    insmod pxe
    insmod tftp
    echo 'Ładowanie FreeDOS Full 512MB w RAM'
    linux16 img/memdisk raw a20
    initrd16 img/freedosfull.img
}

menuentry "CHNTPW NT Offline Editor" --class windows {
    vga=751
    insmod pxe
    insmod tftp
    echo 'NT Offline Editor'
    linux16 img/memdisk iso raw a20 int nopae
    initrd16 img/ntofflineeditor.iso
}

menuentry "Super Grub 2" --class recovery {
    vga=751
    insmod pxe
    insmod tftp
    echo 'Super Grub 2'
    linux16 img/memdisk iso raw a20 int nopae
    initrd16 img/super_grub2.iso
}

menuentry "PLPBT" --class recovery  {
    vga=751
    insmod pxe
    insmod tftp
    echo 'PLPBT...'
    linux16 img/memdisk iso raw a20 int nopae
    initrd16 img/plpbt.iso
}

menuentry "DOS7.1" --class windows {
    vga=751
    insmod pxe
    insmod tftp
    echo 'DOS is landing...'
    linux16 img/memdisk iso raw a20 int nopae
    initrd16 img/dos71cd.iso
}

menuentry "Memtest ISO" --class memtest {
    vga=751
    insmod pxe
    insmod tftp
    echo 'Mmetest is landing...'
    linux16 img/memdisk iso raw a20 int nopae
    initrd16 img/memtest.iso
}

menuentry 'EFI Firmware System Setup' $menuentry_id_option 'uefi-firmware'  --class recovery {
    fwsetup
}


menuentry 'Restart' --class restart {
    reboot
}


menuentry 'Shutdown' --class shutdown{
    halt
}